:root {
  --primary-color: #333;
  --primary-color-hover: #555;
  --primary-color-hover1: #adadad;
  --primary-color-hover2: #dedede;
  --success: #6e956f;
  --success-hover: #cbf5cc;
  --error: #e38587;
  /* e05a5d */
  --error-hover: #fcbbbc;
  --warn: #ecde95;
  --warn-hover: #fff6c9;
  --info: #6394c6;
  --info-hover: #91caff;
}
.svg {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.hero {
  width: 42vw;
  margin: 1rem;
}
.width-setter {
  width: 90%;
}
.get-started {
  text-decoration: none;
  color: #adadad;
  background-color: #333;
  padding: 0.8rem;
  font-weight: bold;
  font-size: medium;
  transition: 0.3s;
}
.get-started:hover {
  background-color: #444;
  color: #e0e0e0;
}
.download {
  text-decoration: none;
  color: #adadad;
  background-color: #333;
  padding: 0.8rem;
  font-weight: bold;
  font-size: medium;
  transition: 0.3s;
}
.download:hover {
  background-color: #444;
  color: #e0e0e0;
}
/* works above 1024px mainly for laptop */
@media only screen and (min-width: 1024px) {
  .hero {
    width: 47vw;
  }
  .download {
    margin-left: 6rem;
  }
  .home-btn {
    font-size: 1rem;
  }

  h1 {
    margin: 2rem 0 11rem 0;
  }
}

/* works less than 999px and more than 760 px mainly for tablets */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home-btn {
    font-size: 1rem;
  }
  .svg {
    width: 100%;
  }
  .hero {
    width: 45vw;
  }
  h1 {
    margin: 1vw 0 18vw 0;
  }
  .download {
    margin-left: 2rem;
  }
}

/* works less than 768px mainly mobile */
@media only screen and (max-width: 768px) {
  .svg {
    flex-direction: column;
    width: 100%;
  }
  .hero {
    width: 85vw;
  }
}
