:root {
  --primary-color: #333;
  --primary-color-hover: #555;
  --primary-color-hover1: #adadad;
  --primary-color-hover2: #dedede;
  --success: #6e956f;
  --success-hover: #cbf5cc;
  --error: #e38587;
  /* e05a5d */
  --error-hover: #fcbbbc;
  --warn: #ecde95;
  --warn-hover: #fff6c9;
  --info: #6394c6;
  --info-hover: #91caff;
}
/* card starts here */
.card-s {
  width: 10rem;
  height: 100%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  align-self: center;
  margin: 0.2rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.prdct-details {
  display: flex;
  flex-direction: column;
}

.card-s .prdct-nm {
  margin: 0.3rem 1rem;
}

.price-details {
  display: flex;
  justify-content: space-between;
  margin: 0.1rem 1rem;
  font-size: small;
}

.card-s .prdct-dpr {
  font-size: larger;
  font-weight: bolder;
}

.card-s .prdct-apr {
  font-size: larger;
  color: gray;
  text-decoration: line-through;
}

.card-s .prdct-dscnt {
  font-size: larger;
  color: #d43939;
  font-weight: bolder;
}

.card-s .prdct-dc {
  margin: 0.1rem 1rem 1rem 1rem;
}

.red-badge {
  background-color: #d43939;
  font-size: small;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  color: white;
}

.blue-badge {
  background-color: #4040fc;
  font-size: small;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  color: white;
}
.iframe-card-1 {
  height: 213px;
}
.iframe-card-2 {
  height: 356px;
}
.iframe-card-3 {
  height: 374px;
}
.iframe-card-4 {
  height: 230px;
}
.iframe-card-5 {
  height: 320px;
}
.iframe-card-6 {
  height: 380px;
}

.shadow {
  box-shadow: 6px 6px 8px 0px gray;
}

.prdct-btn {
  border-radius: 5px;
  padding: 5px;
  margin: 0.2rem 0.5rem 1rem 1rem;
  background-color: var(--primary-color-hover);
  font-weight: 200;
  color: white;
}

.row {
  display: flex;
}

.h-res {
  height: 70%;
  width: 150%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.margin {
  margin: 0.5rem 0;
}

.cart-item {
  align-self: center;
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
.img img {
  width: 130px;
  height: 130px;
}
.alter-stock {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: larger;
}
.item-tagline {
  color: #afafaf;
}
.incr-dcr {
  align-self: center;
  font-size: large;
}
.incr-dcr button {
  margin: 5px;
  border-radius: 50%;
}
.incr-dcr button:nth-child(1) {
  padding: 5px 10.5px;
}
.incr-dcr button:nth-child(3) {
  padding: 5px 9px;
}
.price-and-remove {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.remove {
  font-size: large;
  color: red;
}

/* cards end here */

@media only screen and (max-width: 425px) {
  .flex.cards {
    flex-direction: column;
  }

  .card-s {
    width: 10rem;
    align-self: center;
    margin: 1rem;
  }
  .cart-item {
    width: 80vw;
  }
  .img img {
    width: 70px;
    height: 70px;
  }
  .alter-stock {
    font-size: medium;
  }
  .item-tagline {
    color: #868686;
  }
  .incr-dcr {
    font-size: small;
  }
  .incr-dcr button {
    margin: 2px;
    border-radius: 50%;
  }
  .incr-dcr button:nth-child(1) {
    padding: 2px 7px;
  }
  .incr-dcr button:nth-child(3) {
    padding: 2px 5.5px;
  }
  .price-and-remove {
    font-size: medium;
  }
  .remove {
    font-size: medium;
  }
}
