:root {
  --primary-color: #333;
  --primary-color-hover: #555;
  --primary-color-hover1: #adadad;
  --primary-color-hover2: #dedede;
  --success-dark: #266b28;
  --success: #669968;
  --success-hover: #cbf5cc;
  --error-dark: #c93e41;
  --error: #dc5456;
  --error-hover: #d88687;
  --warn-dark: #edd453;
  --warn: #d3b624ec;
  --warn-hover: #fcf0b4;
  --info-dark: #4da5f7;
  --info: #6394c6;
  --info-hover: #91caff;
}
.center {
  align-items: center;
}
.image-responsive-small {
  position: relative;
  width: 35%;
  height: auto;
}
.image-responsive-medium {
  position: relative;
  width: 50%;
  height: auto;
}
.image-responsive-large {
  position: relative;
  width: 70%;
  height: auto;
}
.responding-image {
  width: 100%;
}
/* @media only screen and (max-width: 425px) {
} */
